/* .index-page-container{
  background: green;
} */

* {
  box-sizing: border-box;
}

.business-show-index-title{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #262626;
  margin: 45px;
}


.business-card-container-column{

  margin: 15px;
  float: left;
  width: 30%;
  padding: 5px;
  cursor: pointer;
}


.business-list-container-row:after{

  content: "";
  display: table;
  clear: both;

}

@media screen and (max-width:992px){
  .business-card-container-column{
    width: 45%

  }
}
@media screen and (max-width: 600px) {
  .business-card-container-column{
    width: 95%;
  }
}




.business-card-image > img {
  width:100%;
  max-height:300px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  object-fit: cover;
}

.business-card-image > img:hover, img:focus, img:active {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /* weight: 90%; */
}

.business-card-name{
  margin-top: 5px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
}

.business-card-detail{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  /* display: inline; */

}

.business-card-categories {
  color: #757575;
  margin-bottom: 5px;
}

.business-card-rating {
  display: flex;
  align-items: center
}

.business-card-rating > img {
  height: 25px;
  margin-right: 5px
}

.business-card-rating > span {
  color: #757575;
}
