
/* searchbar */

.search-container {
  display: flex;
  width: 100%;
  font-family: arial;
}

.search-bar-container {
  width: 40%;
  position: relative;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.fas {
  font-size: 24px;
  margin: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  color: white;
  font-size: 18px;
}

.search-input-box::placeholder {
  color: white;
}

.search-dropdown {
  z-index: 1;
  position: absolute;
  border: 1px solid black;
  width: 108%;
  background: white;
}

/* searchbar */
