.searchbar-dropdown {
  position: absolute;
  z-index: 1;
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 87px;
  left: 74px;
  color: black;
}

.search-dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.search-dropdown-item:hover {
  background: #ECECEC;
}

.search-dropdown-image {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  object-fit: cover;
}

.search-dropdown-text {
  margin-left: 10px;
}

.search-dropdown-title {
  margin-bottom: 5px;
}

.search-dropdown-stars {
  display: flex;
}

.search-stars {
  height: 32%;
  width: 32%;
}

.search-review-count {
  margin-left: 5px;
  color: grey;
}

/* searchbar-item */
