.searchbar-dropdown {
  position: absolute;
  z-index: 1;
  background: white;
  top: 87px;
  color: black;
  width: 100%;
  left: -1px;
}

.search-dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: .5px solid #DFDFDF;
  border-left: .5px solid #DFDFDF;
  border-right: .5px solid #DFDFDF;
}
.search-dropdown-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-dropdown-item:hover {
  background: #ECECEC;
}

.search-dropdown-image {
  height: 60px;
  width: 60px;
  border-radius: 3px;
  object-fit: cover;
}

.search-dropdown-text {
  margin-left: 10px;
}

.search-dropdown-title {
  margin-bottom: 5px;
  font-size: 18px;
}

.search-dropdown-stars {
  display: flex;
}

.search-stars {
  height: 37%;
  width: 37%;
}

.search-review-count {
  margin-left: 5px;
  color: grey;
}

/* searchbar-item */
