
/* searchbar */

.search-container {
  display: flex;
  width: 100%;
  font-family: arial;
}

.search-bar-container {
  width: 40%;
  position: relative;
  color: white;
  padding: 5px 20px 4px 20px;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
}

@media screen and (max-width: 830px) {
  .search-bar-container{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    /* display: none; */
    width: 80%;
    margin-left: 10%
  }
}


.search-bar-container:last-child {
  border-right: 1px solid white;
}

.search-bar-container-location {
  width: 40%;
  position: relative;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-left: 1px solid white;

}

@media screen and (max-width: 830px) {
  .search-bar-container-location{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    display: none;
  }
}


.search-bar-container-location:last-child {
  border-right: 1px solid white;
}

.fas {
  font-size: 24px;
  margin-right: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  color: white;
  font-size: 18px;
}

.search-input-box::placeholder {
  color: white;
}

@media screen and (max-width: 300px) {
  .search-input-box{
    /* font-size: 14px; */
    width: none;
  }
}

.search-input-inner {
  width: 100%;
}

.search-input-box {
  /* width: 100%; */
}

.search-dropdown {
  z-index: 1;
  position: absolute;
  border: 1px solid black;
  width: 108%;
  background: white;
}

.fa-times {
  cursor: pointer;
}

/* searchbar */
