
/* searchbar */

.search-container {
  display: flex;
  width: 70%;
  font-family: arial;
}

.search-bar-container {
  width: 50%;
  position: relative;
  color: white;
  padding: 5px 20px 4px 20px;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
}

@media screen and (max-width: 830px) {
  .search-bar-container{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    /* display: none; */
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .search-container{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    /* display: none; */
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .search-container{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    /* display: none; */
    width: 100%;
  }
}


.search-bar-container-location {
  width: 50%;
  position: relative;
  color: white;
  padding: 5px 20px 4px 20px;
  display: flex;
  align-items: center;
  border-left: 1px solid white;

}

@media screen and (max-width: 830px) {
  .search-bar-container-location{
    /* margin-top: 20%;
    width: 75%; */
    /* background-color: red */
    display: none;
  }
}

.search-input {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  color: white;
  font-size: 18px;
  margin-left: 20px;
}

.search-input-box::placeholder {
  color: white;
}

@media screen and (max-width: 300px) {
  .search-input-box{
    /* font-size: 14px; */
    width: 100%
  }
}

.search-input-inner {
  width: 100%;
}

.fas {
  font-size: 24px;
}

.fa-times {
  cursor: pointer;
}


/* searchbar */
