.header-container {
  height: 70px;
  background: #FF7D7D;
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  display: flex;
  /* justify-content: center; */
  width: 15%;
  margin-left: 5%
}

@media screen and (max-width: 600px) {
  .header-logo{
    /* margin-top: 20%;
    width: 75%; */
    font-size: 20px;
  }
}
@media screen and (max-width: 300px) {
  .header-logo{
    /* margin-top: 20%;
    width: 75%; */
    /* font-size: 20px; */
    display:none;
    margin-left:none;
  }
}

.header-logo-image {
  object-fit: contain;
}

.logout-button {
  color: green;
  border: 1px black solid;
  cursor: pointer;
}
