
* {
  box-sizing: border-box;
}

.business-show-header{
  height: 370px;
  position: relative;
  background-size: cover;
  background-position: center center;

}

.business-show-detail-container{
  background: white;
  padding: 30px;
  height: 60%;
  width: 30%;
  margin-left: 10%;
  margin-top: 120px;
  position: absolute;
  border-radius: 3px;
}

@media screen and (max-width: 992px) {
  .business-show-detail-container{
    width: 75%;
    margin-top: 10%
  }
}

@media screen and (max-width: 600px) {
  .business-show-detail-container{
    margin-top: 20%;
    width: 75%;
  }
}
.business-show-name{
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #262626;
}
.business-show-detail{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}

.business-show-index-title{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #262626;
  margin: 4% auto;

  width: 80%
}


.food-card-container-column{
  margin: 15px;
  float: left;
  width: 20%;
  padding: 5px;
}


.food-list-container-row:after{
  content: "";
  display: table;
  clear: both;

}

@media screen and (max-width:992px){
  .food-card-container-column{
    width: 45%;

  }
}

@media screen and (max-width: 600px) {
  .food-card-container-column{
    width: 95%;
  }
}


.food-card-image img{
  /* width:100%; */
  /* max-height:130px; */
  height: 100%;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}
.food-card-image img:hover, img:focus, img:active {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /* weight: 90%; */
}

.food-card-name{
  margin-top: 5px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
}

.food-card-detail{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  /* display: inline; */

}
