.review-card-container{
  display: flex;
  border:black 1px solid;
  margin: 2% auto;
  width: 80%;
  padding: 2%;

}

@media screen and (max-width:990px){
  .review-card-container{
      display: table;
  }
}

.review-card-image img{
  /* border:red 1px solid; */
  width: 95%;
  border-radius: 6px
}
.review-card-detail{
  /* border:yellow 1px solid; */
  width: 100%;
}

.review-card-name{
  margin: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #262626;
}
.review-card-rating img{
  margin: 10px;
  width: 20%;
}

.review-card-text{
  margin: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;

}
